<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>442proj.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>442projUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BF623DE214EDAF6008FBB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF623F2214EDAF9008FBB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF623FD214EDAF9008FBB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368EED89217E699C006FDAC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AF6E76217CFF3600A82C6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
